<h3>{{ item.name }}</h3>

<dl>
	<dt>{{ localize "BF.Equipment.Category.Label" }}</dt>
	<dd>
		{{#with (lookup CONFIG.gearCategories.clothing.children.localized item.system.type.base) as |value|}}
		{{ value }}{{ else }}{{#with (lookup CONFIG.gearCategories.localized item.system.type.category) as |value| }}
		{{ value }}{{ else }}—{{/with}}{{/with}}
	</dd>
	<dt>{{ localize "BF.Rarity.Label" }}</dt>
	<dd>
		{{#with (lookup CONFIG.rarities.localized item.system.rarity) as |value| }}
		{{ value }}{{ else }}—{{/with}}
	</dd>
	<dt>{{ localize "BF.Price.Label" }}</dt>
	<dd>{{ item.system.price.label }}</dd>
	<dt>{{ localize "BF.Attunement.Label" }}</dt>
	<dd>
		{{#if (eq item.system.attunement.value "required")}}{{ localize "BF.Attunement.Type.Required" }}
		{{else if (eq item.system.attunement.value "optional")}}{{ localize "BF.Attunement.Type.Optional" }}
		{{else}}{{ localize "BF.Attunement.Type.None" }}{{/if}}
	</dd>
	{{#if item.system.attunement.requirement}}
		<dd>{{ item.system.attunement.requirement }}</dd>
	{{/if}}
</dl>

<hr>

{{{ enriched.description }}}
